Thumbs.db
*.o
*.user
*.autosave
*.rcc
*.ts~
Makefile*
moc_*
vsmsdk_bak/
vsmsdk/lib/linux-gen3/debug/libvt_*
tmap_rsm2018_linux.pro
tmap_rsm2018_win32.pro
clearqmlres.bat
ui/res/img/highway_bak*
ui/tools/ninepatch2sci/thirdparty/lpng1628/ANNOUNCE
ui/tools/ninepatch2sci/thirdparty/lpng1628/
ui/tools/ninepatch2sci/thirdparty/zlib-1.2.11/
ui/tools/build-ninepatch2sci-Desktop_Qt_5_6_2_MinGW_32bit-Debug/
ui/tools/build-ninepatch2sci-Desktop_Qt_5_6_2_MinGW_32bit-Release/
ui/tools/build-ninepatch2sci-Desktop_Qt_5_6_1_GCC_64bit_GL_ES2-Debug/
ui/res/highway_progress_up.9.png
ui/touchqmlqrc.sh
ui/touchqmlqrc.sh~
ui/clearqmlrcc.bat
ui/clearqmlrcc.sh
tools/build-*

ui/qml/view/Keyboard/view_list.bat
ui/qml/view/Search/view_list.bat
ui/qml/view/Search/view_list.txt
ui/qml/view/Setting/view_list.bat
ui/qml/view/Setting/view_list.txt
ui/qml/view/view_list.bat
ui/qml/view/view_list.txt
ui/res/tmap_rsm_ui_qml.rcc.bak
static/
dynamic/
navdata/
navdata_online/
.cproject
.project
.settings/language.settings.xml
tmap_rsm2018.pro.user.*
ui/tmap_rsm_ui_res_BACKUP_2196.pri
ui/tmap_rsm_ui_res_BASE_2196.pri
ui/tmap_rsm_ui_res_LOCAL_2196.pri
ui/tmap_rsm_ui_res_REMOTE_2196.pri
ui/docs/rg.ini
ui/docs/issues.txt

ui/tmap_rsm_ui_win.pro
ui/tools/ninepatch2sci/thirdparty/zlib-1.2.11.tar
ui/tools/build-ninepatch2sci-Qt_5_6_2_desktop-Debug/ninepatch2sci.gch/c++
ui/tools/build-ninepatch2sci-Qt_5_6_2_desktop-Debug/ninepatch2sci
*.dmp
*.sym
breakpad/third_party/breakpad/src/client/mac/gcov/libgcov.a
platforms/linux-gen3/interface/ALSA/lib/libboost_date_time.so
platforms/linux-gen3/interface/ALSA/lib/libboost_date_time.so.0
platforms/linux-gen3/interface/ALSA/lib/libboost_random.so
platforms/linux-gen3/interface/ALSA/lib/libboost_random.so.0
platforms/linux-gen3/interface/ALSA/lib/libboost_system.so
platforms/linux-gen3/interface/ALSA/lib/libboost_system.so.0
platforms/linux-gen3/interface/mic/lib/libglib-2.0.so
platforms/linux-gen3/interface/mic/lib/libglib-2.0.so.0
platforms/linux-gen3/interface/mic/lib/libgobject-2.0.so
platforms/linux-gen3/interface/mic/lib/libgobject-2.0.so.0
platforms/linux-gen3/interface/mic/lib/libgstapp-0.10.so
platforms/linux-gen3/interface/mic/lib/libgstapp-0.10.so.0

ui/__tmap_rsm_ui_dbg__
util/debugutil.h
